/*Estilos para a pagina HTML */
Body{
  Font-family:arial, sans-serif;
  background-color:#f0f0f0;
  margin:0;
  padding:20px;
}

h1{
  color:#333;
}

p{
  color:#666;
}

/* Estilos para a classe .destaque/
.destaque{
  background-color:#ffcc00;
  padding:10px
}
